body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    /* Adjusted for wider layout */
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #00ffff;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-column,
.checkbox-column {
    flex: 1 1 calc(33.333% - 20px);
    /* 3 columns layout */
    box-sizing: border-box;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
    margin-bottom: 10px;
}

.input-column label,
.checkbox-column label {
    display: block;
    margin-bottom: 5px;
    color: #00ff00;
}

.input-column input[type="number"],
.input-column input[type="range"],
.input-column select {
    width: 100%;
    margin: 5px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #121212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cc00cc;
}

.button-section {
    text-align: center;
    margin-top: 20px;
}

.output-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mob {
    background-color: #292929;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.mob h3 {
    margin: 0 0 5px 0;
    color: #00ffff;
}

.mob p {
    margin: 0;
    font-size: 0.9em;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .mob {
        flex: 1 1 calc(50% - 10px);
        /* 2 columns */
    }
}

@media (min-width: 1025px) {
    .mob {
        flex: 1 1 calc(33.333% - 10px);
        /* 3 columns */
    }
}

@media (max-width: 600px) {
    .mob {
        flex: 1 1 100%;
        /* Full width on smaller screens */
    }

    button {
        margin: 5px 0;
    }
}