body {
  font-size: 101%;
  background: content-box radial-gradient(#0d7377, #00adb5, #14ffec, #eeeeee);
  margin: 1% 10% 1%;
}
hr {
  border: ridge #00adb5;
  border-width: .5em;
}
img:hover {
	background-color: gold;
}
.intro {
  margin: 0 15% 0;
  background: #eeeeee;
  box-shadow: 4px 4px 4px 2px #212121;
  border: .75em ridge #00adb5;
  border-width: 1em .75em .75em 1em;
  border-radius: 10% 1% 10% 1%;
  padding: 0 1% 1% 5%;
}
.intro td {
  padding: 1%;
}
.workhistory {
  margin: 0 16% 0;
  font-size: 120%;
  text-align: center;
  background: #eeeeee;
  box-shadow: 4px 4px 4px 2px #212121;
  border: groove #00adb5;
  border-width: 1em .75em .75em 1em;
  border-spacing: 1.25em .25em;
  border-radius: 10% 1% 10% 1%;
  padding: 0 3% 4%;
}
.profskills {
  margin: 0 27.5% 0;
  font-size: 120%;
  text-align: center;
  background: #eeeeee;
  box-shadow: 4px 4px 4px 2px #212121;
  border: groove #00adb5;
  border-width: 1em .75em .75em 1em;
  border-spacing: 1.25em .25em;
  border-radius: 10% 1% 10% 1%;
  padding: 0 4% 4%;
}
.workhistory table,td {
  border-collapse: separate;
  border-color: #212121;
  padding: .25em .25em;
  justify-content: center;
  overflow: hidden;
}
.profskills table,td {
  border-collapse: separate;
  border-color: #212121;
  padding: .25em .25em;
  justify-content: center;
  overflow: hidden;
}
.vacations, .contact {
  margin: 0 40% 0;
  text-align: center;
  background: #eeeeee;
  padding: 2%;
  box-shadow: 4px 4px 4px 2px #212121;
  border: groove #00adb5;
  border-width: 1em .75em .75em 1em;
  border-radius: 10% 1% 10% 1%;
}
